//  覆蓋 Bootstrap 的顏色變數
// $primary: #916019;
// $secondary: #8d8d8d;
// $muted: #e0e0e0;

// 覆蓋 Bootstrap 的字體變數
// $font-style: normal;
// $font-variant: normal;
// $font-family: 'PingFang TC', 'SF Pro Text';

// 套用字型設定
@font-face {
  font-family: 'import Noto Sans CT';
  src: url('/fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'import Noto Sans CT';
}
