// 套用字型設定
@font-face {
  font-family: 'import Noto Sans CT';
  src: url('/fonts/NotoSansTC-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'import Noto Sans CT', sans-serif;

  ::selection {
    color: #fff;
    background-color: $primary-light;
  }
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}

//
.overflow-x-nowrap-414 {
  @media (max-width: 414px) {
    overflow-x: auto;
    flex-wrap: nowrap !important;
  }
}

.overflow-x-nowrap-768 {
  @media (max-width: 768px) {
    overflow-x: auto;
    flex-wrap: nowrap !important;
  }
}

.overflow-x-nowrap-lg {
  @media (max-width: 992px) {
    overflow-x: auto;
    flex-wrap: nowrap !important;
  }
}

.col-4-3 {
  @media (max-width: 991px) {
    flex: 0 0 auto;
    /* 讓右側顯示區塊 */
    width: calc((100% - 16px) / 4.5);
    /* 減去間隔後，分成4.5份，以顯示兩個完整和半個欄位 */
  }
}

.col-2-2 {
  @media (max-width: 768px) {
    flex: 0 0 auto;
    /* 讓右側顯示區塊 */
    width: calc((100% - 16px) / 2.5);
    /* 減去間隔後，分成2.5份，以顯示兩個完整和半個欄位 */
  }
}

// 控制首頁手機板多顯示下一個區塊方式
.col-1-2 {
  @media (max-width: 414px) {
    flex: 0 0 auto;
    /* 讓右側顯示區塊 */
    width: 86% !important; /* 100% / (1 + 1/2) */
  }
}

.col-1-2-event {
  @media (max-width: 414px) {
    flex: 0 0 auto;
    /* 讓右側顯示區塊 */
    width: 78% !important; /* 100% / (1 + 1/2) */
  }
}

.heart-icon {
  font-size: 24px !important;
}

.nav-link-white {
  text-decoration: none;
  color: white !important;
  &:hover {
    opacity: 0.85;
  }
}

.nav-link-line-hover {
  text-decoration: underline !important;
  &:hover {
    opacity: 0.85;
  }
}

.text-color {
  color: #fff !important;
}

.router-link-active {
  text-decoration: none !important;
  font-weight: 800;
}

//
.home-title {
  font-size: 2.5rem; // 40px
  font-weight: 900;
  position: relative;
  width: 166px;
  margin: 0 auto;

  @media (max-width: 414px) {
    font-size: 2rem;
    width: 136px;
  }

  &::before {
    content: '';
    position: absolute;
    top: -35px;
    right: 0;
    background-image: url('https://storage.googleapis.com/vue-course-api.appspot.com/ben0588/1708320860518.png');
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    width: 100px;
    height: 100%;
  }
}

//

.border-md-end {
  border-right: none;

  @media (min-width: 768px) {
    border-right: 2px solid $primary;
  }
}

.text-sm-truncate {
  @media (min-width: 414px) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @media (min-width: 992px) {
    overflow: auto;
    text-overflow: ellipsis;
    white-space: wrap;
  }
}

.text-ellipsis {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-2-lines {
  @media (max-width: 992px) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  @media (max-width: 768px) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-hover {
  &:hover {
    opacity: 0.85;
  }
}

// 防止 table 內容被壓縮
.table td,
.table th {
  min-width: 151px;
}

.success-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.text-decoration-underline {
  text-decoration: underline !important;
}

.hover-opacity {
  &:hover {
    &:hover {
      opacity: 0.85;
    }
  }
}

// carts
.cart-img-container {
  display: block;
  width: 100px;
  overflow: hidden;
  border: 2px solid #788194c5;
  position: relative;

  @media (min-width: 992px) {
    width: 75px;
    height: 75px;
  }

  @media (min-width: 1200px) {
    width: 85px;
    height: 85px;
  }

  @media (min-width: 1400px) {
    width: 96px;
    height: 96px;
  }

  &:hover {
    border: 2px solid #111c30e8;

    & .cart-img {
      transform: scale(1.2);
    }
  }
}
.cart-img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 96px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  @media (min-width: 992px) {
    height: 75px;
  }

  @media (min-width: 1200px) {
    height: 85px;
  }

  @media (min-width: 1400px) {
    height: 96px;
  }
}

.cart-sale-tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 25px;
  background: #d63031;
  backdrop-filter: blur(5px);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
